/* General body styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header styling */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Custom CSS for favicon */
.favicon {
    width: 200px; /* Adjust the size as needed */
    height: 200px; /* Adjust the size as needed */
    margin-right: 10px; /* Adjust the spacing as needed */
}

/* Navigation styling */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Main content styling */
main {
    padding: 20px;
    min-height: 80vh; /* Viewport height */
}

/* Table styling */
table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    height: 50px;
    background-color: #A9A9A9; /* Dark grey background for headers */
    color: #fff; /* White text color for headers */
    text-align: left;
}

td {
    padding: 8px;
    text-align: left;
}

/* Footer styling */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Utility classes */
.container {
    width: 85%;
    margin: auto;
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.mt-4 {
    margin-top: 1.5em;
}

.mb-4 {
    margin-bottom: 1.5em;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

.thead-dark {
    background-color: #555;
    color: #fff;
}

/* Button styling */
.btn-center-lg {
    display: block; /* Necessary to apply margin: auto */
    width: 50%; /* Set to desired width */
    margin: 20px auto; /* Centers the button with top and bottom margin */
    padding: 10px 0; /* Larger padding for bigger size */
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    border: none; /* Remove border */
    cursor: pointer; /* Cursor to pointer to indicate it's clickable */
    text-transform: uppercase; /* Optional: to make text uppercase */
    font-size: 1.25em; /* Larger font size */
    border-radius: 5px; /* Optional: to add rounded corners */
}

/* Add this to change the hover state of buttons */
.btn-center-lg:hover {
    background-color: #333; /* Slightly lighter black for hover effect */
}
