{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
<!-- Flash messages are handled by layout.html, so no need to include them here -->

    <form action="/quote" method="post" class="form-signin text-center">
    <!-- Input for Stock Symbol -->
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto" name="symbol" placeholder="Stock Symbol" type="text" required style="width: 150px;">
        </div>
    <!-- Input for Number of Shares -->
        <div class="mb-3">
            <input class="form-control mx-auto" name="shares" placeholder="Number of Shares" type="number" min="1" required style="width: 150px;">
        </div>
    <!-- Quote Button -->
        <button class="btn btn-dark" type="submit" style="width: 150px;">Quote</button>
    </form>
{% endblock %}
