<!-- sell_stocks.html -->

{% extends "layout.html" %}

{% block title %}
    Sell Stocks
{% endblock %}

{% block main %}
    <div class="container text-center">
    <!-- Page Title -->
        <h1>Sell Stocks</h1>

    <!-- Sell Form -->
        <form action="/sell" method="post">

        <!-- Symbol Selection -->
            <div class="form-group">
                <label for="symbol">Symbol</label>
                <select class="form-control mx-auto" name="symbol" id="symbol" required style="width: 150px;">
                    <option value="" disabled selected>Select Symbol</option>
                    {% for symbol in symbols %}
                        <option value="{{ symbol }}">{{ symbol }}</option>
                    {% endfor %}
                </select>
            </div>

        <!-- Number of Shares Input -->
            <div class="form-group">
                <label for="shares">Shares</label>
                <input type="number" class="form-control mx-auto" name="shares" id="shares" min="1" required style="width: 150px;">
            </div>

        <!-- Sell Button -->
            <button class="btn btn-dark" type="submit" style="width: 150px; background-color: black;">Sell</button>
        </form>
    </div>
{% endblock %}
